Package: com.thuthuatjb.vcallers
Name: VCaller Screen
Depends: mobilesubstrate, ws.hbang.common
Version: 2.0
Architecture: iphoneos-arm
Description: VCaller Screen
Maintainer: TTJB Team
Author: TTJB Team
Section: Tweaks
